html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    //Raleway
    color: $main_additional;
    overflow-x: hidden;
    cursor: default;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: $low;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba($color: $primary, $alpha: 1.0);
    border-radius: 20px;
}

.header {
    padding: 12px 270px;
    width: calc(100% - 540px);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    background-color: #fff;
    box-shadow: 0px 4px 179px rgba(0, 0, 0, 0.07), 0px 0.500862px 22.4136px rgba(0, 0, 0, 0.035);

    .logo {
        margin-right: 84px;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .navigation {
        margin-right: auto;

        .navigation-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $main;
            text-decoration: none;
            margin-right: 48px;
            transition: all 0.3s ease;

            &:hover {
                color: $primary_hover;
            }

            &:active {
                color: $primary_active;
            }
        }


    }

    .phone {
        padding: 14px 28.5px;
        display: flex;
        align-items: center;
        width: fit-content;
        border: 1px solid $high;
        box-sizing: border-box;
        border-radius: 12px;

        &:hover {
            background: $mid;
            border: 1px solid $primary;
        }

        &:active {
            background: $additional;
            border: 1px solid $primary;
        }

        .phone-logo {
            margin-right: 16.5px;
        }

        .phone-num {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: $main;
            text-decoration: none;
        }
    }
}

.footer {
    background: $main;
    border-radius: 20px 20px 0px 0px;
    width: 100vw;
    padding: 68px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-section {
        display: flex;
        margin-bottom: 58px;

        &__button {
            margin-right: 24px;
            padding: 12px 0;
            border-radius: 12px;
            width: 248px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: $main_additional;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        &__column {
            display: flex;
            flex-direction: column;

            .value {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-decoration: none;
                color: #fff;
                transition: all 0.3s ease;

                &:hover {
                    color: $primary_hover;
                }

                &:active {
                    color: $primary_active;
                }
            }

            .caption {
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                color: #fff;
                text-decoration: none;
                transition: all 0.3s ease;

                &:hover {
                    color: $primary_hover;
                }

                &:active {
                    color: $primary_active;
                }
            }
        }
    }

    .social-section {
        display: flex;
        align-items: center;

        margin-bottom: 54px;

        .social-container {
            display: flex;
            align-items: center;
            margin-right: 26px;

            img {
                margin-right: 15px;
            }

            &__name {
                text-decoration: none;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #fff;
                transition: all 0.3s ease;

                &:hover {
                    color: $primary_hover;
                }

                &:active {
                    color: $primary_active;
                }
            }
        }
    }

    .links-section {
        display: flex;
        align-items: center;
        margin-bottom: 60px;

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                color: $primary_hover;
            }

            &:active {
                color: $primary_active;
            }
        }

        &__span {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $mid;
            margin-left: 28px;
            margin-right: 28px;
        }
    }

    .info-section {
        color: $mid;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .credentials-section {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $mid;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-x: hidden;
    width: 100vw;
    padding-bottom: 120px;


    .section-header {
        font-family: "Raleway";
        font-weight: 800;
        font-size: 38px;
        line-height: 38px;
        margin-bottom: 16px;
        color: $main;
    }

    .section-subheader {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }

    &--greeting {
        padding: 90px 150px 0;
        width: calc(100% - 300px);
    }

    .greeting-parent {
        .greeting-container {
            padding: 80px 0 40px 120px;
            width: calc(100% - 120px);
            background-image: url(./assets/images/content/bg_greeting.svg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        .float-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: start;

            &__label {
                padding: 13px 25px;
                background: #FFFFFF;
                box-shadow: 0px 47px 100px rgba(115, 107, 255, 0.07), 0px 5.88513px 12.5216px rgba(115, 107, 255, 0.035);
                border-radius: 20px;
                margin-bottom: 13px;
                width: fit-content;
                transition: all 0.3s ease;

                &--first-r {
                    transform: rotate(-2deg);
                    margin-bottom: 18px;

                    &:hover {
                        transform: rotate(0deg) scale(1.2);
                    }
                }

                &--second-r {
                    transform: rotate(2deg);
                    align-self: flex-end;

                    &:hover {
                        transform: rotate(0deg) scale(1.2);
                    }

                }

                &--third-r {
                    transform: rotate(-2deg);

                    &:hover {
                        transform: rotate(0deg) scale(1.2);
                    }
                }

                span {
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    background: $gradient_dark;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

        .greeting-image {
            position: absolute;
            right: 0;
            bottom: 0;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        &__header {
            font-weight: 800;
            font-size: 46px;
            line-height: 46px;
            font-family: 'Raleway';
            color: $main;
            width: 50%;
            margin-bottom: 24px;
        }

        &__subheader {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: $main_additional;
            margin-bottom: 84px;
            width: 30%;
        }

        &__button {
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            padding: 16px 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 110px;
            border-radius: 12px;
            background-color: $primary;
            transition: all 0.5s ease;

            &:hover {
                transform: scale(1.1);
                background: $primary_hover;
            }

            &:active {
                background: $primary_active;
            }
        }

        &__developers {
            display: flex;
            align-items: start;
        }

        &__developers-logo {
            margin-right: 20px;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }

        &__developers-caption {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $main_additional;
            max-width: 154px;
        }
    }

    &--functions {
        margin-top: 120px;
        padding: 0px 270px;
        width: calc(100% - 540px);
    }

    .functions-parent {
        display: flex;
        flex-direction: column;
        align-items: start;

        .container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 40px;
        }

        &__card {
            margin-right: 24px;
            margin-bottom: 24px;
            border-radius: 20px;
            background-color: $low;
            padding: 40px 40px;
            width: calc(25% - 104px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 1px 1px rgb(255 255 255 / 8%), 0 1px 1px rgb(0 0 0 / 15%);
            // border: 1px solid;
            // border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.08) -0.03%, rgba(0, 0, 0, 0.08) 100.03%);

            &:nth-child(4n) {
                margin-right: 0;
                width: calc(25% - 80px);
            }

            &:hover {
                .functions-parent__image {
                    transform: scale(1.3);
                }
            }
        }

        &__header {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }

        &__image {
            transition: all 0.5s ease;
        }
    }

    &--video {
        margin-top: 96px;
        padding: 0px 270px;
        width: calc(100% - 540px);
    }

    .video-parent {
        .container {
            width: calc(100% - 80px);
            height: 640px;
            padding: 40px;
            position: relative;
            background-image: url(./assets/images/content/video_preview.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-shadow: inset 0 0 5px 1000px rgba($color: #040405, $alpha: 0.4);
        }

        &__caption {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #fff;
        }

        &__label {
            position: absolute;
            top: 40px;
            right: 40px;
            border-radius: 6px;
            transform: rotate(2deg);
            background: $gradient_dark;
            padding: 5px 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
        }

        &__play-icon {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            width: fit-content;
            height: fit-content;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &--about {
        margin-top: 120px;
        padding: 0px 270px;
        width: calc(100% - 540px);
    }

    .about-parent {
        display: flex;
        flex-direction: column;
        align-items: start;

        &__card {
            display: flex;
            align-items: center;
            padding: 40px;
            width: calc(100% - 80px);
            border-radius: 20px;
            justify-content: space-between;
            background-color: $low;
            position: relative;
            margin-bottom: 120px;
            box-shadow: 0 1px 1px rgb(255 255 255 / 8%), 0 1px 1px rgb(0 0 0 / 15%);

            &:hover {
                .about-parent__image {
                    transform: scale(1.1);
                }
            }
        }

        .container {
            width: 45%;
        }

        .container-item {
            margin-top: 24px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        &__subheader {
            margin-bottom: 8px;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: $main;
            text-align: left;
        }

        &__content {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $main_additional;
            text-align: left;
        }

        &__image {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            width: fit-content;
            height: fit-content;
            max-width: 708px;
            max-height: 524px;
            transition: all 0.3s ease;

            &--first {
                right: -50px;
                bottom: -50px;
            }

            &--second {
                // max-width: 508px;
                // max-height: 320px;
            }
        }
    }

    &--emergency {
        margin-top: 120px;
        padding: 0px 270px;
        width: calc(100% - 540px);
    }

    .emergency-parent {
        .container {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__card {
            width: calc(50% - 92px);
            padding: 40px;
            background-color: $low;
            display: flex;
            flex-direction: column;
            align-items: start;
            border-radius: 20px;
            transition: all 0.6s ease;
            box-shadow: 0 1px 1px rgb(255 255 255 / 8%), 0 1px 1px rgb(0 0 0 / 15%);

            &:hover {
                transform: translateY(-120px);
                background-color: $primary;

                .emergency-parent__header {
                    color: #fff;
                }

                .emergency-parent__content {
                    color: #fff;
                }
            }
        }

        &__header {
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 38px;
            line-height: 38px;
            margin-bottom: 16px;
            color: $main;
            text-align: left;
            position: relative;
            bottom: 32px;
            transition: all 0.6s ease;
        }

        &__content {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $main_additional;
            text-align: left;
            position: relative;
            bottom: 32px;
            transition: all 0.6s ease;
        }

        &__image {
            position: relative;
            bottom: 64px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }
    }

    &--buy {
        margin-top: 120px;
        padding: 0px 270px;
        width: calc(100% - 540px);
    }

    .buy-parent {
        .container {
            display: flex;
            align-items: start;
            justify-content: flex-start;
        }

        .swiper-container {
            width: calc(50% - 12px);
            height: 563px;
            position: relative;
            overflow-x: hidden;
            margin-right: 12px;
            left: -12px;

            .swiper:hover>.swiper-button-next {
                opacity: 1;
            }

            .swiper:hover>.swiper-button-prev {
                opacity: 1;
            }

            .swiper-button-disabled {
                display: none;
            }

            .swiper-button-prev {
                opacity: 0;
                left: 24px;
                top: -80px;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                background-image: url(./assets/images/content/arrow_left.svg);
                transition: all 0.3s ease;
            }

            .swiper-button-next {
                opacity: 0;
                right: 24px;
                top: -80px;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                background-image: url(./assets/images/content/arrow_right.svg);
                transition: all 0.3s ease;
            }

            .swiper-pagination-bullet {
                height: 82px;
                width: 82px;
                border-radius: 12px;
                margin-right: 24px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .swiper-pagination-bullet-active {
                border: 2px solid $primary;
            }

            .swiper-pagination-bullets {
                bottom: 0px;
                display: flex;
                justify-content: flex-start;
            }

            .swiper-slide {
                height: 456px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }
            }
        }

        &__info {
            width: calc(50% - 12px);
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        &__section {
            margin-bottom: 24px;
            background-color: $low;
            box-shadow: 0 1px 1px rgb(255 255 255 / 8%), 0 1px 1px rgb(0 0 0 / 15%);
            padding: 40px;
            width: calc(100% - 80px);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;

            .container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
            }
        }

        &__card {
            width: 50%;
            margin-bottom: 35px;

            .card-container {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            &:nth-child(2n+1) {
                width: calc(50% - 24px);
                margin-right: 24px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(5) {
                margin-bottom: 0;
            }

            .card-logo {
                margin-bottom: 11px;
            }

            .card-header {
                color: $main;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 8px;
            }

            .card-description {
                color: $main_additional;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__product-header {
            font-weight: 800;
            font-size: 38px;
            line-height: 38px;
            color: $main;
            font-family: 'Raleway';
            margin-bottom: 8px;
        }

        &__product-description {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $main_additional;
            margin-bottom: 24px;
            width: 60%;
        }

        &__product-color {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $main_additional;
            margin-bottom: 45px;

            .color-container {
                display: flex;
                margin-top: 12px;

                .color-box {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    margin-right: 8px;

                    &:hover {
                        .checkmark {
                            border: 1px solid $primary;
                        }
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 30px;
                        width: 30px;
                        background-color: #fff;
                        border-radius: 8px;
                        border: 1px solid $high;

                        &:after {
                            content: "";
                            position: absolute;
                            display: block;
                            width: 22px;
                            height: 22px;
                            top: 4px;
                            left: 4px;
                            background-color: #F1D473;
                            border-radius: 4px;
                            box-shadow: 0 1px 1px rgb(255 255 255 / 8%), 0 1px 1px rgb(0 0 0 / 15%);
                        }
                    }

                    #lightGreen+.checkmark {
                        &:after {

                            background-color: #BBC8B8;
                        }
                    }

                    #red+.checkmark {
                        &:after {

                            background-color: #F2685D;
                        }
                    }

                    #darkGreen+.checkmark {
                        &:after {

                            background-color: #6D7B70;
                        }
                    }

                    #blue+.checkmark {
                        &:after {

                            background-color: #3D4A5B;
                        }
                    }

                    #white+.checkmark {
                        &:after {

                            background-color: #FBF8F4;
                        }
                    }

                    #pink+.checkmark {
                        &:after {

                            background-color: #EFD5D4;
                        }
                    }
                }

                .color-box input:checked~.checkmark {
                    border: 2px solid $primary;
                }
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: start;
            width: 100%;
        }

        &__price-container {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        &__price-tag {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            background: $gradient_dark;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 4px;
        }

        &__caption {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: $main_additional;
        }

        &__button {
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            border-radius: 12px;
            background: $primary;
            padding: 16px 108.5px;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);
                background: $primary_hover;
            }

            &:active {
                background: $primary_active;
            }
        }

        .flex-card {
            padding: 24px 40px;
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;
            background-color: $low;
            margin-bottom: 12px;
            border-radius: 20px;
            box-shadow: 0 1px 1px rgb(255 255 255 / 8%), 0 1px 1px rgb(0 0 0 / 15%);
            overflow-y: hidden;
            flex: 1;
            max-height: 24px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $additional;
            }

            &--active {
                flex: 1;
                max-height: 600px;

                .open-indicator {
                    position: absolute;
                    right: 45px;
                    top: 32px;
                    transform: rotate(180deg);
                }

                .flex-card__base-row {
                    margin-bottom: 40px;
                }
            }

            &__base-row {
                display: flex;
                margin-bottom: 60px;

                transition: all 0.3s ease;
            }

            &__opening-row {
                display: flex;
                align-items: center;
                width: 100%;
            }

            &__content {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .content-column {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    &__logo {
                        margin-bottom: 17px;
                    }

                    &__header {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: $main;
                    }

                    &__subheader {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: $main_additional;
                    }
                }
            }

            &__header {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                margin-left: 14px;
                color: $main;

                transition: all 0.3s ease;
            }

            .open-indicator {
                position: absolute;
                right: 45px;
                top: 32px;

                transition: all 0.3s ease;
            }
        }

    }

    &--feedback {
        margin-top: 108px;
        padding: 0px 270px;
        width: calc(100% - 540px);
    }

    .feedback-parent {
        .swiper-container {
            height: 264px;
            position: relative;
            overflow: visible;

            &:after {
                content: '';
                background-color: #fff;
                width: 280px;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: -270px;
                z-index: 20;
            }
        }

        .feedback-slide {
            position: relative;
            display: flex;
            flex-direction: column;


            .blob-container {
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-bottom: 12px;
                width: 100%;
                padding: 32px;
                height: 140px;

                &:after {
                    content: url(./assets/images/content/blob.svg);
                    transform: scale(0.9);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 90%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }

                &__image {
                    margin-bottom: 20px;
                }

                &__feedback {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #fff;
                }
            }

            .feedback-info {
                display: flex;
                align-items: center;

                .feedback-person {
                    margin-right: 12px;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }

                .feedback-column {
                    display: flex;
                    flex-direction: column;

                    .feedback-name {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 24px;
                        color: $main;
                    }

                    .feedback-date {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: $main_additional;
                    }
                }
            }
        }
    }

    &--faq {
        margin-top: 120px;
        padding: 0px 270px;
        width: calc(100% - 540px);
    }

    .faq-parent {
        display: flex;
        justify-content: space-between;

        .container {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        &__card {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $high;
            padding: 24px 0;
            position: relative;
            width: 795px;
            flex: 1;
            max-height: 24px;
            overflow: hidden;
            transition: all 0.3s ease;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                .faq-parent__indicator {
                    transform: scale(1.1);
                }
            }

            &--active {
                max-height: 600px;

                transition: all 0.3s ease;

                .faq-parent__base-row {
                    display: flex;
                    margin-bottom: 24px;

                    transition: all 0.3s ease;
                }

                &:hover {
                    .faq-parent__indicator {

                        transform: rotate(45deg) scale(0.9);
                    }
                }

                .faq-parent__indicator {
                    transform: rotate(45deg) scale(0.8);

                    transition: all 0.3s ease;
                }
            }
        }

        &__base-row {
            display: flex;
            margin-bottom: 40px;
            transition: all 0.3s ease;
        }

        &__question {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: $main;
            transition: all 0.3s ease;
        }

        &__answer {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $main_additional;
        }

        &__indicator {
            position: absolute;
            right: 0;
            top: 24px;
            transition: all 0.3s ease;
        }
    }

    &--download {
        margin-top: 120px;
        padding: 0px 270px;
        width: calc(100% - 540px);
    }

    .download-parent {
        .container {
            padding: 40px 32px 0;
            width: calc(100% - 64px);
            background-color: $primary;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: start;
            box-shadow: 0px 47px 100px rgba(115, 107, 255, 0.07), 0px 5.88513px 12.5216px rgba(115, 107, 255, 0.035);
            border-radius: 20px;
        }

        &__header {
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 38px;
            line-height: 38px;
            margin-bottom: 16px;
            width: 50%;
            color: #fff;
            margin-left: 8px;
        }

        &__subheader {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #fff;
            width: 50%;
            margin-bottom: 32px;
            margin-left: 8px;
        }

        &__benefits {
            display: flex;
        }

        &__benefit {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 40px;
            min-height: 356px;
            width: calc(33.33333333333333% - 102px);
            margin-right: 12px;
            border-radius: 15px 15px 0px 0px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }

            &--first {
                background-image: url(./assets/images/content/image1.png);
            }

            &--second {
                background-image: url(./assets/images/content/image2.png);
            }

            &--third {
                background-image: url(./assets/images/content/image3.png);
            }

            &:last-child {
                width: calc(33.33333333333333% - 80px);
                margin-right: 0px;
            }
        }

        &__benheader {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
            color: #fff;
        }

        &__bensubheader {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
        }

        &__download-links {
            position: absolute;
            right: 48px;
            top: 79px;
            display: flex;
            align-items: center;

            a {
                width: fit-content;
                height: fit-content;
                display: block;
                margin-right: 12px;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.swiper-container--functions {
    display: none;
}