doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/logo_violet.svg", type="image/x-icon")
        title I'M OK
    body 
        header.header
            .logo 
                a(href="#toMain")  
                    img(src="./assets/images/content/logo_violet.svg", alt="")
            .navigation 
                a(href="#toFunctions").navigation-link Функции устройства
                a(href="#toAbout").navigation-link О продукте
                a(href="#toFeedback").navigation-link О нас
                a(href="#toFooter").navigation-link Контакты
            .phone 
                .phone-logo
                    img(src="./assets/images/content/phone.svg", alt="")
                a(href="tel:+79002422112").phone-num +7 (900) 242–21–12
        main.main#toMain 
            .main--greeting.greeting-parent 
                .greeting-container
                    .container 
                        .greeting-parent__header Будьте в курсе состояния здоровья ваших близких с сервисом I’M OK
                        .greeting-parent__subheader Контролирует показатели здоровья пожилых людей и диагностирует проблемы со здоровьем до их возникновения
                        .greeting-parent__button Купить
                        .greeting-parent__developers
                            .greeting-parent__developers-logo 
                                img(src="./assets/images/content/logo_sk.svg", alt="Skolkovo logo")
                            .greeting-parent__developers-caption Разработано исследовательской группой «Сколково»
                    .float-container 
                        .float-container__label.float-container__label--first-r 
                            span Сервис I’M OK = умный браслет
                        .float-container__label.float-container__label--second-r 
                            span + мобильное приложение
                        .float-container__label.float-container__label--third-r  
                            span + служба спасения
                    img(src="./assets/images/content/greeting_layer.png", alt="Photos describing app").greeting-image
            .main--functions.functions-parent#toFunctions 
                .section-header I’M OK наблюдает за состоянием
                .section-subheader Узнаете первым о ваших близких, если они
                .container 
                    .functions-parent__card 
                        .functions-parent__image
                            img(src="./assets/images/content/cnd_fall.svg", alt="")
                        .functions-parent__header 
                            | Упадут 
                            br
                            | или споткнутся
                    .functions-parent__card 
                        .functions-parent__image
                            img(src="./assets/images/content/cnd_food.svg", alt="")
                        .functions-parent__header
                            | Пропустят 
                            br
                            | прием пищи
                    .functions-parent__card 
                        .functions-parent__image
                            img(src="./assets/images/content/cnd_bed.svg", alt="")
                        .functions-parent__header 
                            | Не встанут 
                            br
                            | с кровати
                    .functions-parent__card 
                        .functions-parent__image
                            img(src="./assets/images/content/cnd_amb.svg", alt="")
                        .functions-parent__header 
                            | Нуждаются
                            br
                            | в экстренной помощи
                    .functions-parent__card 
                        .functions-parent__image
                            img(src="./assets/images/content/cnd_sleep.svg", alt="")
                        .functions-parent__header 
                            | Имеют плохой 
                            br
                            | ночной сон
                    .functions-parent__card 
                        .functions-parent__image
                            img(src="./assets/images/content/cnd_pills.svg", alt="")
                        .functions-parent__header 
                            | Не принимают 
                            br
                            | таблетки
                    .functions-parent__card 
                        .functions-parent__image
                            img(src="./assets/images/content/cnd_worry.svg", alt="")
                        .functions-parent__header 
                            | Сильно 
                            br 
                            | волнуются
                    .functions-parent__card 
                        .functions-parent__image
                            img(src="./assets/images/content/cnd_health.svg", alt="")
                        .functions-parent__header 
                            | Имеют нехарактерные 
                            br
                            | показатели здоровья
            .main--video.video-parent
                .container
                    .video-parent__caption Расскажем о нашем сервисе за 3 минуты
                    .video-parent__label 3:00
                    .video-parent__play-icon
                        img(src="./assets/images/content/play_icon.svg", alt="Play Icon")
            .main--about.about-parent#toAbout 
                .about-parent__card
                    .container 
                        .section-header Забота о родных на расстоянии
                        .container-item 
                            .about-parent__subheader Измерение показателей
                            .about-parent__content Проверяйте состояние здоровья родственника в режиме онлайн
                        .container-item 
                            .about-parent__subheader Экстренные уведомления
                            .about-parent__content Получайте уведомление, если с родственником что-то случилось
                        .container-item 
                            .about-parent__subheader Прием лекарств
                            .about-parent__content Настраивайте интеллектуальные оповещения о приеме таблеток
                    img(src="./assets/images/content/health_about.png", alt="").about-parent__image.about-parent__image--first
                .about-parent__card
                    .container 
                        .section-header Мониторинг показателей здоровья 
                        .container-item 
                            .about-parent__subheader Артериальное давление
                            .about-parent__content Предупреждайте экстренные ситуации, отслеживая превышение нормы артериального давления
                        .container-item 
                            .about-parent__subheader Сатурация
                            .about-parent__content Диагностируйте сердечно-сосудистые и легочные заболевания, измеряя сатурацию и уровень стресса
                        .container-item 
                            .about-parent__subheader Пульс
                            .about-parent__content Фиксируйте нарушение сердеченого ритма и мерцательную аритмию
                    img(src="./assets/images/content/care_about.png", alt="").about-parent__image.about-parent__image--second
            .main--emergency.emergency-parent 
                .container 
                    .emergency-parent__card
                        .emergency-parent__image 
                            img(src="./assets/images/content/emergency.svg", alt="")
                        .emergency-parent__header Служба спасения
                        .emergency-parent__content При плохом самочувствии можно вызвать службу спасения. Мы гарантируем экстренную медицинскую помощь в течение 12 минут. Нажав на кнопку SOS, в приложении придет уведомление
                    .emergency-parent__card
                        .emergency-parent__image 
                            img(src="./assets/images/content/reminder.svg", alt="")
                        .emergency-parent__header Напоминания о приеме таблеток
                        .emergency-parent__content Родственнику будет приходить напоминание о приеме таблеток с помощью вибраций и световых оповещений на устройстве
            .main--buy.buy-parent 
                .container
                    .swiper-container 
                        .swiper#watchSwiper 
                            .swiper-wrapper 
                                .swiper-slide.preview 
                                    img(src="./assets/images/content/slide1.png", alt="")
                                .swiper-slide.preview 
                                    img(src="./assets/images/content/slide2.jpg", alt="")
                                .swiper-slide.preview 
                                    img(src="./assets/images/content/slide3.jpg", alt="")
                                .swiper-slide.preview 
                                    img(src="./assets/images/content/slide4.jpg", alt="")
                                .swiper-slide.preview 
                                    img(src="./assets/images/content/slide5.jpg", alt="")
                                .swiper-slide.preview 
                                    img(src="./assets/images/content/slide6.jpg", alt="")
                            .swiper-button-next 
                            .swiper-button-prev
                            .swiper-pagination
                    .buy-parent__info
                        .buy-parent__section
                            .buy-parent__product-header Сервис I’M OK 
                            .buy-parent__product-description Комплект (умный браслет, мобильное приложение, служба спасения)
                            .buy-parent__product-color 
                                | Цвет ремешка:
                                .color-container 
                                    label.color-box(for="yellow")
                                        input#yellow(type="radio", name="color" checked) 
                                        span.checkmark
                                    label.color-box(for="lightGreen")
                                        input#lightGreen(type="radio", name="color") 
                                        span.checkmark
                                    label.color-box(for="red")
                                        input#red(type="radio", name="color") 
                                        span.checkmark
                                    label.color-box(for="darkGreen")
                                        input#darkGreen(type="radio", name="color") 
                                        span.checkmark
                                    label.color-box(for="blue")
                                        input#blue(type="radio", name="color") 
                                        span.checkmark
                                    label.color-box(for="white")
                                        input#white(type="radio", name="color") 
                                        span.checkmark
                                    label.color-box(for="pink")
                                        input#pink(type="radio", name="color") 
                                        span.checkmark
                            .buy-parent__row 
                                .buy-parent__price-container 
                                    .buy-parent__price-tag 6990 ₽
                                    .buy-parent__caption от 120 ₽/мес в аренду
                                .buy-parent__button Купить
                        .buy-parent__section
                            .container 
                                .buy-parent__card 
                                    .card-logo 
                                        img(src="./assets/images/content/tonometr.svg", alt="")
                                    .card-header Встроенный тонометр
                                    .card-description Для измерения артериального давления. Диагностирует сердечно-сосудистые заболевания
                                .buy-parent__card 
                                    .card-logo 
                                        img(src="./assets/images/content/sensor.svg", alt="")
                                    .card-header Сенсор сердеченого ритма
                                    .card-description Для измерения ЧСС. Фиксирует нарушение ритма, мерцательную аритмию
                                .buy-parent__card 
                                    .card-logo 
                                        img(src="./assets/images/content/stress.svg", alt="")
                                    .card-header Интегрированный пульсооксиметр
                                    .card-description Диагностируйте сердечно-сосудистые и легочные  заболевания, измеряя сатурацию и уровень стресса
                                .buy-parent__card 
                                    .card-logo 
                                        img(src="./assets/images/content/fall.svg", alt="")
                                    .card-header Умный датчик 
                                    .card-description Чувствительные ИИ-сенсоры определяют падение
                                .buy-parent__card 
                                    .card-logo 
                                        img(src="./assets/images/content/sos.svg", alt="")
                                    .card-header SOS-кнопка
                                    .card-description Гарантируем экстренную медицинскую помощь в течение 12 минут и в любой точке России
                                .buy-parent__card 
                                    .card-logo 
                                        img(src="./assets/images/content/hand.svg", alt="")
                                    .card-header Всегда на запястии
                                    .card-description Устройство не нужно снимать с запястия для зарядки.
                        .flex-card
                            .open-indicator 
                                img(src="./assets/images/content/arrow.svg", alt="") 
                            .flex-card__base-row 
                                .logo 
                                    img(src="./assets/images/content/settings.svg", alt="")
                                .flex-card__header Технические характеристики
                            .flex-card__opening-row
                                .flex-card__content 
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/apple.svg", alt="")
                                        .content-column__header iOS
                                        .content-column__subheader v12 и выше
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/android.svg", alt="")
                                        .content-column__header Android
                                        .content-column__subheader v5 и выше
                        .flex-card
                            .open-indicator 
                                img(src="./assets/images/content/arrow.svg", alt="") 
                            .flex-card__base-row 
                                .logo 
                                    img(src="./assets/images/content/sovmest.svg", alt="")
                                .flex-card__header Совместимость
                            .flex-card__opening-row
                                .flex-card__content 
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/apple.svg", alt="")
                                        .content-column__header iOS
                                        .content-column__subheader v12 и выше
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/android.svg", alt="")
                                        .content-column__header Android
                                        .content-column__subheader v5 и выше
                        .flex-card
                            .open-indicator 
                                img(src="./assets/images/content/arrow.svg", alt="") 
                            .flex-card__base-row 
                                .logo 
                                    img(src="./assets/images/content/instruction.svg", alt="")
                                .flex-card__header Условия использования
                            .flex-card__opening-row
                                .flex-card__content 
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/apple.svg", alt="")
                                        .content-column__header iOS
                                        .content-column__subheader v12 и выше
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/android.svg", alt="")
                                        .content-column__header Android
                                        .content-column__subheader v5 и выше
                        .flex-card
                            .open-indicator 
                                img(src="./assets/images/content/arrow.svg", alt="") 
                            .flex-card__base-row 
                                .logo 
                                    img(src="./assets/images/content/stats.svg", alt="")
                                .flex-card__header Измеряемые показатели
                            .flex-card__opening-row
                                .flex-card__content 
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/apple.svg", alt="")
                                        .content-column__header iOS
                                        .content-column__subheader v12 и выше
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/android.svg", alt="")
                                        .content-column__header Android
                                        .content-column__subheader v5 и выше
                        .flex-card
                            .open-indicator 
                                img(src="./assets/images/content/arrow.svg", alt="") 
                            .flex-card__base-row 
                                .logo 
                                    img(src="./assets/images/content/sercificate.svg", alt="")
                                .flex-card__header Сертификаты
                            .flex-card__opening-row
                                .flex-card__content 
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/apple.svg", alt="")
                                        .content-column__header iOS
                                        .content-column__subheader v12 и выше
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/android.svg", alt="")
                                        .content-column__header Android
                                        .content-column__subheader v5 и выше
                        .flex-card
                            .open-indicator 
                                img(src="./assets/images/content/arrow.svg", alt="") 
                            .flex-card__base-row 
                                .logo 
                                    img(src="./assets/images/content/regards.svg", alt="")
                                .flex-card__header Награды и достижения
                            .flex-card__opening-row
                                .flex-card__content 
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/apple.svg", alt="")
                                        .content-column__header iOS
                                        .content-column__subheader v12 и выше
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/android.svg", alt="")
                                        .content-column__header Android
                                        .content-column__subheader v5 и выше
                        .flex-card
                            .open-indicator 
                                img(src="./assets/images/content/arrow.svg", alt="") 
                            .flex-card__base-row 
                                .logo 
                                    img(src="./assets/images/content/complect.svg", alt="")
                                .flex-card__header В комплекте
                            .flex-card__opening-row
                                .flex-card__content 
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/apple.svg", alt="")
                                        .content-column__header iOS
                                        .content-column__subheader v12 и выше
                                    .content-column 
                                        .content-column__logo 
                                            img(src="./assets/images/content/android.svg", alt="")
                                        .content-column__header Android
                                        .content-column__subheader v5 и выше
            .main--feedback.feedback-parent#toFeedback
                .section-header 
                    | Благодарности 
                    br
                    | наших клиентов
                .swiper-container 
                    .swiper#feedbackSwiper 
                        .swiper-wrapper 
                            .swiper-slide.feedback-slide 
                                .blob-container 
                                    img(src="./assets/images/content/quotes.svg", alt="").blob-container__image
                                    .blob-container__feedback Устройство отличное, измеряет давление точно (сверяли с тонометром).
                                .feedback-info 
                                    .feedback-person 
                                        img(src="./assets/images/content/avatar.png", alt="")
                                    .feedback-column 
                                        .feedback-name Елена
                                        .feeedback-date 28 января 2022
                            .swiper-slide.feedback-slide 
                                .blob-container 
                                    img(src="./assets/images/content/quotes.svg", alt="").blob-container__image
                                    .blob-container__feedback Устройство отличное, измеряет давление точно (сверяли с тонометром). Теперь не беспокоюсь за маму с ее гипертонией. Всегда с ней на связи. 
                                .feedback-info 
                                    .feedback-person 
                                        img(src="./assets/images/content/avatar.png", alt="")
                                    .feedback-column 
                                        .feedback-name Светлана
                                        .feeedback-date 27 января 2022
                            .swiper-slide.feedback-slide 
                                .blob-container 
                                    img(src="./assets/images/content/quotes.svg", alt="").blob-container__image
                                    .blob-container__feedback Устройство отличное, измеряет давление точно (сверяли с тонометром).
                                .feedback-info 
                                    .feedback-person 
                                        img(src="./assets/images/content/avatar.png", alt="")
                                    .feedback-column 
                                        .feedback-name Елена
                                        .feeedback-date 28 января 2022
                            .swiper-slide.feedback-slide 
                                .blob-container 
                                    img(src="./assets/images/content/quotes.svg", alt="").blob-container__image
                                    .blob-container__feedback Устройство отличное, измеряет давление точно (сверяли с тонометром). Теперь не беспокоюсь за маму с ее гипертонией. Всегда с ней на связи. 
                                .feedback-info 
                                    .feedback-person 
                                        img(src="./assets/images/content/avatar.png", alt="")
                                    .feedback-column 
                                        .feedback-name Светлана
                                        .feeedback-date 27 января 2022
                            .swiper-slide.feedback-slide 
                                .blob-container 
                                    img(src="./assets/images/content/quotes.svg", alt="").blob-container__image
                                    .blob-container__feedback Устройство отличное, измеряет давление точно (сверяли с тонометром).
                                .feedback-info 
                                    .feedback-person 
                                        img(src="./assets/images/content/avatar.png", alt="")
                                    .feedback-column 
                                        .feedback-name Светлана
                                        .feeedback-date 27 января 2022
                            .swiper-slide.feedback-slide 
                                .blob-container 
                                    img(src="./assets/images/content/quotes.svg", alt="").blob-container__image
                                    .blob-container__feedback Устройство отличное, измеряет давление точно (сверяли с тонометром). Теперь не беспокоюсь за маму с ее гипертонией. Всегда с ней на связи. 
                                .feedback-info 
                                    .feedback-person 
                                        img(src="./assets/images/content/avatar.png", alt="")
                                    .feedback-column 
                                        .feedback-name Светлана
                                        .feeedback-date 27 января 2022
            .main--faq.faq-parent 
                .section-header 
                    | Остались вопросы?
                    br
                    | Сейчас ответим 
                .container 
                    .faq-parent__card 
                        .faq-parent__base-row 
                            .faq-parent__question Сколько I’M OK работает от одного заряда?
                            .faq-parent__indicator
                                img(src="./assets/images/content/plus.svg", alt="")
                        .faq-parent__answer 
                            .content Работает не менее 7 дней от одной зарядки
                    .faq-parent__card 
                        .faq-parent__base-row 
                            .faq-parent__question Как долго I’M OK заряжается?
                            .faq-parent__indicator
                                img(src="./assets/images/content/plus.svg", alt="")
                        .faq-parent__answer 
                            .content Работает не менее 7 дней от одной зарядки
                    .faq-parent__card 
                        .faq-parent__base-row 
                            .faq-parent__question Имеет ли I’M OK влагозащиту?
                            .faq-parent__indicator
                                img(src="./assets/images/content/plus.svg", alt="")
                        .faq-parent__answer 
                            .content Работает не менее 7 дней от одной зарядки
                    .faq-parent__card 
                        .faq-parent__base-row 
                            .faq-parent__question Из какого материала сделан ремешок? Не будет ли аллергии?
                            .faq-parent__indicator
                                img(src="./assets/images/content/plus.svg", alt="")
                        .faq-parent__answer 
                            .content Работает не менее 7 дней от одной зарядки
                    .faq-parent__card 
                        .faq-parent__base-row 
                            .faq-parent__question I’M OK доступен для обоих платофрм: iOS и Android?
                            .faq-parent__indicator
                                img(src="./assets/images/content/plus.svg", alt="")
                        .faq-parent__answer 
                            .content Работает не менее 7 дней от одной зарядки
            .main--download.download-parent 
                .container 
                    .download-parent__header Удобное приложение прямо в вашем смартфоне
                    .download-parent__subheader Легко подключить устройство и настроить расписание приема таблеток, срочные оповещения и уведомления
                    .download-parent__benefits 
                        .download-parent__benefit.download-parent__benefit--first 
                            .download-parent__benheader Уровень активности
                            .download-parent__bensubheader Отслеживайте ежеденвный уровень активности в сравнении с нормальным
                        .download-parent__benefit.download-parent__benefit--second 
                            .download-parent__benheader Прием лекарств
                            .download-parent__bensubheader Добавляйте расаписание приема лекарств
                        .download-parent__benefit.download-parent__benefit--third 
                            .download-parent__benheader Изменение показателей
                            .download-parent__bensubheader Контролируйте, анализируйте и наблюдайте за показателями здоровья
                    .download-parent__download-links 
                        a(href="#")
                            img(src="./assets/images/content/apple.png", alt="") 
                        a(href="#")
                            img(src="./assets/images/content/google.png", alt="") 
            
        footer.footer#toFooter
            .contact-section 
                .contact-section__button 
                    .contact-section__logo 
                        img(src="./assets/images/content/footer_phone.svg", alt="")
                    .contact-section__column 
                        a(href="tel:+79042247020").value +7 904 224 70 20
                        a(href="tel:+79042247020").caption Позвоните нам
                .contact-section__button 
                    .contact-section__logo 
                        img(src="./assets/images/content/footer_mail.svg", alt="")
                    .contact-section__column 
                        a(href="mailto:example177@yandex.ru").value example177@yandex.ru
                        a(href="mailto:example177@yandex.ru").caption Напишите нам
            .social-section
                .social-container 
                    img(src="./assets/images/content/vk.svg", alt="")
                    a(href="#").social-container__name Вконтакте
                .social-container 
                    img(src="./assets/images/content/tg.svg", alt="")
                    a(href="#").social-container__name Телеграм

            .links-section 
                a(href="") Помощь и поддержка
                .links-section__span
                a(href="") Пользовательское соглашение
                .links-section__span
                a(href="") Как настроить
            .info-section 
                | ООО "Простор", ОГРН 1127747074377, 125130,
                br
                | г. Москва, ул. Выборгская, дом 22, строение 2, 
                br
                | комната № 4 Б
            .credentials-section @ 2021-2022, I’m OK

        script(src="./assets/js/jquery.min.js") 
        script(src="./assets/js/plugins.min.js") 
        script(src="./assets/js/main.min.js") 